@tailwind base;
@tailwind utilities;
@tailwind components;

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(241 245 249 / var(--tw-bg-opacity));
  border-radius: 5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 5rem;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.calc-heigth {
  height: calc(100vh - 88px);
}
